doctype html
html(lang="en")
    head
        title SpanishPod101 Viewer
        link(rel="stylesheet", href="/index.css")
        script(src="/index.js", defer)
    body
        #content
            h1 SpanishPod101 Viewer