extends layout.pug 
block content 

    h2 Levels 

    .directories
        each directory in directories
            p= directory
    
    h2 Files
    .files
        each file in files
            div= file
