* {
    font-family: Verdana, Arial, sans-serif;
}

#content {
    width: 95vw;
    min-height: 95vh;

    margin: 0 auto;

    text-align: center;
}

.directories p, .files p {
    line-height: 2rem;
    text-align: left;

    width: 500px;

    margin: 0 auto;
}

table {
    margin: 0 auto;
}

audio, video {
    display: block;
    margin: 0 auto;
}

audio {
    width: 80vw;
}

table {
    border-collapse: collapse;
}

th {
    padding: 0 1rem;
    line-height: 2rem;
    background-color: #CCCCCC;
}

tr:nth-child(even) {
    background-color: #EEEEEE;
}

td {
    padding: 0.25rem 0;
}

td img {
    cursor: pointer;
}