* {
    font-family: Verdana, Arial, sans-serif;
}

#content {
    width: 95vw;
    min-height: 95vh;

    margin: 0 auto;

    text-align: center;
}

.directories p, .files p {
    line-height: 2rem;
    text-align: left;

    width: 500px;

    margin: 0 auto;
}